$clr--white: white;
$clr--black: black;
$clr--success: #021596;
$clr--red: #aa0e23;
$clr--no: #1f0d09;
$clr--good: #fa432a;
$clr--border: #b0b0b0;
$clr--key-bg-1: #efefef;
$clr--key-bg-3: #555555;
$clr--key-bg: #d6d6d6;
$clr--key-clr: #0e0806;
// Dania gradient

$clr--dania-1: #be93c5;
$clr--dania-2: #7bc6cc;

//linear-gradient(to right, #be93c5, #7bc6cc);
