$clr--white: white;
$clr--black: black;
$clr--success: #021596;
$clr--red: #aa0e23;
$clr--no: #1f0d09;
$clr--good: #fa432a;
$clr--border: #b4b4b4;
$clr--key-bg-1: #d6d6d6;
$clr--key-bg-3: #a9a9a9;
$clr--key-bg: #d6d6d6;
//$clr--key-bg-1: #efefef;
//$clr--key-bg-3: #555555;
//$clr--key-bg: #d6d6d6;
$clr--key-clr: #2d242c;
$clr--correct-1: #5cff5c;
$clr--correct: #00ff00;
//$clr--correct: #1d8a2d;
$clr--correct-3: #008f00;
$clr--present-1: #ffff5c;
//$clr--present: #c99026;
$clr--present: #ffff00;
$clr--present-3: #8f8f00;
$clr--absent-1: #2f2f2f;
$clr--absent-2: #1f1f1f;
$clr--absent: #111111;
//$clr--absent: #0c0b09;
$clr--text: #030200;

//Background gradient

//$clr--top-bg: #141e30;
//$clr--bottom-bg: #243b55;
//$clr--top-bg: #e0d2b8;
$clr--top-bg: #ffffff;
$clr--bottom-bg: #faffff;

// Dania gradient

$clr--dania-1: #be93c5;
$clr--dania-2: #7bc6cc;

//linear-gradient(to right, #be93c5, #7bc6cc);
