@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding-top: 1.25rem;
}

.grid {
  width: 90%;
  height: fit-content;
  margin-inline: auto;
}
.grid .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.cell {
  width: 3rem;
  height: 3rem;
  background: #ffffff;
  outline: 1px solid #b4b4b4;
  border-radius: 5px;
  font-size: 2.25rem;
  font-weight: 600;
  color: #030200;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.cell .c0.absent {
  width: 100%;
  height: 100%;
  background: #111111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: change;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 300ms;
}
.cell .c0.present {
  width: 100%;
  height: 100%;
  background: #ffff00;
  color: #030200;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: change;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 300ms;
}
.cell .c0.correct {
  width: 100%;
  height: 100%;
  background: #00ff00;
  color: #030200;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: change;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 300ms;
}
.cell .c1.absent {
  width: 100%;
  height: 100%;
  background: #111111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: change;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 500ms;
}
.cell .c1.present {
  width: 100%;
  height: 100%;
  background: #ffff00;
  color: #030200;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: change;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 500ms;
}
.cell .c1.correct {
  width: 100%;
  height: 100%;
  background: #00ff00;
  color: #030200;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: change;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 500ms;
}
.cell .c2.absent {
  width: 100%;
  height: 100%;
  background: #111111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: change;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 800ms;
}
.cell .c2.present {
  width: 100%;
  height: 100%;
  background: #ffff00;
  color: #030200;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: change;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 800ms;
}
.cell .c2.correct {
  width: 100%;
  height: 100%;
  background: #00ff00;
  color: #030200;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: change;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 800ms;
}
.cell .c3.absent {
  width: 100%;
  height: 100%;
  background: #111111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: change;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1100ms;
}
.cell .c3.present {
  width: 100%;
  height: 100%;
  background: #ffff00;
  color: #030200;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: change;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1100ms;
}
.cell .c3.correct {
  width: 100%;
  height: 100%;
  background: #00ff00;
  color: #030200;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: change;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1100ms;
}
.cell .c4.absent {
  width: 100%;
  height: 100%;
  background: #111111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: change;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1400ms;
}
.cell .c4.present {
  width: 100%;
  height: 100%;
  background: #ffff00;
  color: #030200;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: change;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1400ms;
}
.cell .c4.correct {
  width: 100%;
  height: 100%;
  background: #00ff00;
  color: #030200;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: change;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1400ms;
}

@keyframes change {
  0% {
    transform: translateY(-100%) rotateY(180deg);
  }
  100% {
    transform: translateY(100) rotateY(0);
  }
}
.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 1.25rem;
}
.keyboard .keyboard-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.key {
  width: 1.5625rem;
  height: 3rem;
  margin: 0.25rem;
  background: linear-gradient(to bottom right, #d6d6d6, #d6d6d6, #a9a9a9);
  color: black;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
.key.special {
  width: 2.75rem;
}
.key.special .correct {
  background: #00ff00;
}
.key.special.present {
  background: #ffff00;
}
.key.special.absent {
  background: #111111;
  color: darkgray;
}
.key:hover {
  transform: scale(1.2);
}
.key.correct {
  background: linear-gradient(to bottom right, #5cff5c, #00ff00, #008f00);
}
.key.present {
  background: linear-gradient(to bottom right, #ffff5c, #ffff00, #8f8f00);
}
.key.absent {
  background: linear-gradient(to bottom right, #2f2f2f, #1f1f1f, #111111);
  color: darkgray;
}

.warning {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 72px;
  border-radius: 5px;
  position: absolute;
  top: 120px;
  left: calc((50vw - 100px));
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  box-shadow: 5px 10px 10px -8px black;
}
.warning.show-warning {
  display: flex;
}

.none {
  display: none;
}

.message-item {
  font-size: 1rem;
  font-weight: 700;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  width: 100vw;
  height: min(100vh, 900px);
  background-color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
}

.App {
  width: 100vw;
  background: linear-gradient(to bottom, #ffffff, #faffff);
  height: max(100vh, 667px);
  color: #030200;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-inline: auto;
}