@use '../base/' as *;
@use '../abstracts/' as a;

.key {
  width: 1.5625rem;
  height: 3rem;
  margin: 0.25rem;
  background: linear-gradient(
    to bottom right,
    $clr--key-bg-1,
    $clr--key-bg,
    $clr--key-bg-3
  );
  color: $clr--black;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 150ms ease-in-out;
  cursor: pointer;
  &.special {
    width: 2.75rem;
    & .correct {
      background: $clr--correct;
    }
    &.present {
      background: $clr--present;
    }
    &.absent {
      background: $clr--absent;
      color: darkgray;
    }
  }
  &:hover {
    transform: scale(1.2);
  }
  &.correct {
    background: linear-gradient(
      to bottom right,
      $clr--correct-1,
      $clr--correct,
      $clr--correct-3
    );
  }
  &.present {
    background: linear-gradient(
      to bottom right,
      $clr--present-1,
      $clr--present,
      $clr--present-3
    );
  }
  &.absent {
    background: linear-gradient(
      to bottom right,
      $clr--absent-1,
      $clr--absent-2,
      $clr--absent
    );
    color: darkgray;
  }
}
